# Python Variables and Types of Data


## Variables

In [1]:
x = 5

In [2]:
x

5

In [3]:
y = 8

In [4]:
print (y)

8

In [5]:
x,y = (1,2)

In [6]:
x

1

In [7]:
y

2

## Numbers and Boolean Values

In [8]:
x1 = 5

In [9]:
type(x1)

int

In [10]:
type(-6)

int

In [11]:
x2 = 4.75

In [12]:
type(x2)

float

In [13]:
int(x2)

4

In [14]:
float(5)

5.0

In [15]:
x3 = True

In [16]:
type(x3)

bool

## Strings

In [17]:
'George'

'George'

In [18]:
"George"

'George'

In [19]:
print ('George')

George

In [20]:
print ("George")

George

In [21]:
x4 = "George"

In [22]:
x4

'George'

In [23]:
y = 10
print (str(y) + " Dollars")

10 Dollars

In [24]:
"I'm fine"

"I'm fine"

In [25]:
'I\'m fine'

"I'm fine"

In [26]:
'Press "Enter"'

'Press "Enter"'

In [27]:
'Red' 'car'

'Redcar'

In [28]:
'Red ' 'car'

'Red car'

In [29]:
'Red ' + 'car'

'Red car'

In [30]:
print ('Red ' + 'car')

Red car

In [31]:
print ('Red', 'car')

Red car

# Basic Python Syntax

## Arithmetic operators

In [32]:
print (3,5)

3 5

In [33]:
3, 5, 6.9, 7.0, 'car'

(3, 5, 6.9, 7.0, 'car')

In [34]:
1 + 2

3

In [35]:
3 - 5

-2

In [36]:
15 / 3

5.0

In [37]:
16 / 3

5.333333333333333

In [38]:
float(16) / 3

5.333333333333333

In [39]:
16.0 / 3

5.333333333333333

In [40]:
16 % 3

1

In [41]:
5 * 3

15

In [42]:
x = 5 * 3

In [43]:
x

15

## The double-equality sign

In [44]:
5 ** 3

125

In [45]:
y = 5 ** 3

In [46]:
y

125

In [47]:
y == 125

True

In [48]:
y == 126

False

## Reassign Values

In [49]:
z = 1
z

1

In [50]:
z = 3
z

3

In [51]:
z + 5

8

In [52]:
z = 7
z

7

In [53]:
3 + 5

8

In [54]:
3 + 5.0

8.0

## Add Comments

In [55]:
#This is just a comment and not code! 
print (7,2)

7 2

In [56]:
# Comment 1
# Comment 2
print (300)

300

## Line Continuation

In [57]:
2.0 * 1.5 + \
5

8.0

## Indexing Elements

In [58]:
"Friday"

'Friday'

In [59]:
"Friday"[3]

'd'

In [60]:
"Friday"[4]

'a'

## Structure Your Code with Indentation

In [61]:
def five(x):
    x = 5
    return x
    print (five(3))

In [62]:
def five(x):
    x = 5
    return x

print (five(3))

5

# Operators

## Comparison Operators

In [63]:
10 == 20 / 2

True

In [64]:
10 != 10

False

In [65]:
10 != 15

True

In [66]:
100 > 50

True

In [67]:
100 < 50

False

In [68]:
15 >= 10 + 10

False

In [69]:
15 <= 10 + 5

True

## Logical and Identity Operators

** Logical Operators: **

In [70]:
True and True

True

In [71]:
True and False

False

In [72]:
False and False

False

In [73]:
False or False

False

In [74]:
True or True

True

In [75]:
True or False

True

In [76]:
False or True

True

In [77]:
not True

False

In [78]:
not False

True

In [79]:
3 > 5 and 10 <= 20

False

**Not - And - Or**

In [80]:
True and not True

False

In [81]:
False or not True and True

False

In [82]:
True and not True or True

True

** Identity Operators: **

In [83]:
5 is 6

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-83-635fcd361971>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 6

False

In [84]:
5 == 6

False

In [85]:
5 is not 6

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-85-d7a89cdfaf51>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  5 is not 6

True

In [86]:
5 != 6

True

# Conditional Statements

## Introduction to the IF statement

In [87]:
if 5 == 15 / 3:
    print ("Hooray!")

Hooray!

In [88]:
if 5 == 18 / 3:
    print ("Hooray!")

In [89]:
if 5 != 3 * 6:
    print ("Hooray!")

Hooray!

## Add an ELSE Statement

In [90]:
x = 1

if x > 3: 
    print ("Case 1")
if x <= 3:
    print ("Case 2")

Case 2

In [91]:
x = 1

if x > 3:
    print ("Case 1")
else:
    print ("Case 2")

Case 2

## Else if, for Brief - ELIF

In [92]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 5:
        return "Less"
    else:
        return "Equal"

In [93]:
print (compare_to_five(10))

Greater

In [94]:
print (compare_to_five(2))

Less

In [95]:
print (compare_to_five(5))

Equal

In [96]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 0:
        return "Negative"
    elif y < 5:          
        return "Less"
    else:
        return "Equal"

In [97]:
print (compare_to_five(-3))

Negative

In [98]:
print (compare_to_five(3))

Less

In [99]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 5:
        return "Less"
    elif y < 0:          
        return "Negative"
    else:
        return "Equal"

In [100]:
print (compare_to_five(-3))

Less

In [101]:
print (compare_to_five(3))

Less

## A Note on Boolean Values

In [102]:
x = 2

if x > 4:
    print ("Correct")
else:
    print ("Incorrect")

Incorrect

# Functions

## Defining a Function in Python

In [103]:
def simple():
    print ("My first function")

In [104]:
simple()

My first function






## Creating a Function with a Parameter

In [105]:
def simple():
    print ("My first function")

In [106]:
simple()

My first function

In [107]:
def plus_ten(a):
    return a + 10

In [108]:
plus_ten(2)

12

In [109]:
plus_ten(5)

15

## Another Way to Define a Function

In [110]:
def simple():
    print ("My first function")

In [111]:
simple()

My first function

In [112]:
def plus_ten(a):
    return a + 10

In [113]:
plus_ten(2)

12

In [114]:
plus_ten(5)

15

In [115]:
def plus_ten(a):
    result = a + 10
    return result

In [116]:
plus_ten(2)

12

In [117]:
def plus_ten(a):
    result = a + 10
    return "Outcome:"
    return result

In [118]:
plus_ten(2)

'Outcome:'

In [119]:
def plus_ten(a):
    result = a + 10
    print ("Outcome:")
    return result

In [120]:
plus_ten(2)

Outcome:

12

## Using a Function in Another Function

In [121]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [122]:
wage(8), with_bonus(8)

(200, 250)

## Combining Conditional Statements and Functions

In [123]:
def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return "Save more!"

In [124]:
add_10(110)

120

In [125]:
add_10(50)

'Save more!'

## Creating Functions Containing a Few Arguments

In [126]:
def subtract_bc(a,b,c):
    result = a - b*c
    print ('Parameter a equals', a)
    print ('Parameter b equals', b)
    print ('Parameter c equals', c)
    return result

In [127]:
subtract_bc(10,3,2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

In [128]:
subtract_bc(b=3,a=10,c=2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

## Notable Built-In Functions in Python

In [129]:
type(10)

int

In [130]:
int(5.0)

5

In [131]:
float(3)

3.0

In [132]:
str(500)

'500'

In [133]:
max(10, 20, 30)

30

In [134]:
min(10, 20, 30)

10

In [135]:
z = -20
abs(z)

20

In [136]:
list_1 = [1,2,3,4]

In [137]:
sum(list_1)

10

In [138]:
round(3.555,2)

3.56

In [139]:
round(3.2)

3

In [140]:
2 ** 10

1024

In [141]:
pow(2,10)

1024

In [142]:
len('Mathematics')

11

# Sequences

## Lists

In [143]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [144]:
print (Participants[1])

Leila

In [145]:
Participants[-1]

'Cate'

In [146]:
Participants[-2]

'Gregory'

In [147]:
Participants[3]='Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [148]:
del Participants[2]
Participants

['John', 'Leila', 'Maria']

In [149]:
Participants[2]

'Maria'

*************

In [150]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [151]:
print (Participants[1])

Leila

In [152]:
Participants[-1]

'Cate'

In [153]:
Participants[-2]

'Gregory'

In [154]:
Participants[3]='Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [155]:
del Participants[2]
Participants

['John', 'Leila', 'Maria']

In [156]:
Participants[2]

'Maria'

In [157]:
Participants.append("Dwayne")
Participants

['John', 'Leila', 'Maria', 'Dwayne']

In [158]:
Participants.extend(['George', 'Catherine'])
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [159]:
print ('The first participant is ' + Participants[0] + '.')

The first participant is John.

In [160]:
len('Dolphin')

7

In [161]:
len(Participants)

6

## List Slicing

In [162]:
Participants = ['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [163]:
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [164]:
Participants[1:3]

['Leila', 'Maria']

In [165]:
Participants[:2]

['John', 'Leila']

In [166]:
Participants[4:]

['George', 'Catherine']

In [167]:
Participants[-2:]

['George', 'Catherine']

In [168]:
Maria_ind = Participants.index("Maria")
Maria_ind

2

In [169]:
Newcomers = ['Joshua', 'Brittany']
Newcomers

['Joshua', 'Brittany']

In [170]:
Bigger_List = [Participants, Newcomers]
Bigger_List

[['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine'],
 ['Joshua', 'Brittany']]

In [171]:
Participants.sort()
Participants

['Catherine', 'Dwayne', 'George', 'John', 'Leila', 'Maria']

In [172]:
Participants.sort(reverse=True)
Participants

['Maria', 'Leila', 'John', 'George', 'Dwayne', 'Catherine']

In [173]:
Numbers = [1,2,3,4,5]
Numbers.sort()
Numbers

[1, 2, 3, 4, 5]

In [174]:
Numbers.sort(reverse = True)
Numbers

[5, 4, 3, 2, 1]

## Tuples

In [175]:
x = (40, 41, 42)
x

(40, 41, 42)

In [176]:
y = 50, 51, 52
y

(50, 51, 52)

In [177]:
a,b,c = 1,4,6
c

6

In [178]:
x[0]

40

In [179]:
List = [x, y]
List

[(40, 41, 42), (50, 51, 52)]

In [180]:
(age, years_of_school) = "30,17".split(',')
print (age)
print (years_of_school)

30
17

In [181]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print ("Area and Perimeter:") 
    return A,P

square_info(3)

Area and Perimeter:

(9, 12)

## Dictionaries

In [182]:
dict = {'k1': "cat", 'k2': "dog", 'k3': "mouse", 'k4': "fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [183]:
dict['k1']

'cat'

In [184]:
dict["k3"]

'mouse'

In [185]:
dict['k5'] = 'parrot'
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [186]:
dict['k2'] = 'squirrel'
dict

{'k1': 'cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [187]:
dep_workers = {'dep_1': 'Peter', 'dep_2': ['Jennifer', 'Michael', 'Tommy']}

In [188]:
dep_workers['dep_2']

['Jennifer', 'Michael', 'Tommy']

In [189]:
Team = {}
Team['Point Guard'] = 'Dirk'
Team['Shooting Guard'] = 'Al'
Team['Small Forward'] = 'Sean'
Team['Power Forward'] = 'Alexander'
Team['Center'] = 'Hector'

In [190]:
print (Team)

{'Point Guard': 'Dirk', 'Shooting Guard': 'Al', 'Small Forward': 'Sean', 'Power Forward': 'Alexander', 'Center': 'Hector'}

In [191]:
print (Team['Center'])

Hector

In [192]:
print (Team.get('Small Forward'))

Sean

In [193]:
print (Team.get('Coach'))

None

# Iteration

## For Loops

In [194]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [195]:
for n in even:
    print (n)

0
2
4
6
8
10
12
14
16
18
20

In [196]:
for n in even:
    print (n, end=" ")

0 2 4 6 8 10 12 14 16 18 20

## While Loops and Incrementing

In [197]:
x = 0
while x <= 20:
    print (x, end=" ")
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [198]:
x = 0
while x <= 20:
    print (x, end=" ")
    x += 2

0 2 4 6 8 10 12 14 16 18 20

## Create Lists with the range() Function

In [199]:
range(10)

range(0, 10)

In [200]:
range(3,7)

range(3, 7)

In [201]:
range(1,20,2)

range(1, 20, 2)

## Use Conditional Statements and Loops Together

In [202]:
for n in range(10):
    print (2 ** n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [203]:
for x in range(20):
    if x % 2 == 0:
        print (x, end = " ")
    else:
        print ("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [204]:
x = [0,1,2]

In [205]:
for item in x:
    print (item, end = " ")

0 1 2

In [206]:
for item in range(len(x)):
    print (x[item], end = " ")

0 1 2

In [207]:
def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total += 1
    return total

In [208]:
list_1 = [1,3,7,15,23,43,56,98]

In [209]:
count(list_1)

4

In [210]:
list_2 = [1,3,7,15,23,43,56,98,17]

In [211]:
count(list_2)

5

## Iterating over Dictionaries

In [212]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i]*quantity[i])
    
print (money_spent)

74