# pandas Basics

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
### Create the employee_names list.

In [ ]:
employee_names = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
employee_names

In [ ]:
type(employee_names)

In [ ]:
employee_names_Series = pd.Series(employee_names)
employee_names_Series

In [ ]:
type(employee_names_Series)

In [ ]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years

In [ ]:
import numpy as np

In [ ]:
array_age = np.array([50, 53, 35, 43])
array_age

In [ ]:
type(array_age)

In [ ]:
series_age = pd.Series(array_age)
series_age

In [ ]:
print(series_age)

## Working with Attributes in Python

In [ ]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years

In [ ]:
# !!! now .values is perhaps not advised to be used. See for .to_numpy()
work_experience_years.values

In [ ]:
work_experience_years.dtype

Check the type of the returned object.

In [ ]:
type(work_experience_years.values)

In [ ]:
work_experience_years.size

In [ ]:
work_experience_years.name = "Work Experience (Yrs.)"

In [ ]:
### Display the name of the Series.

In [ ]:
work_experience_years.name

In [ ]:
work_experience_years

## Using an Index in pandas

In [ ]:
workers_age = {'Amy White':50, 'Jack Stewart':53, 'Richard Lauderdale':35, 'Sara Johnson':43}
workers_age

In [ ]:
type(workers_age)

In [ ]:
workers_age = pd.Series(workers_age)
workers_age

In [ ]:
type(workers_age)

In [ ]:
workers_age.index

## Label-based vs Position-based Indexing

In [ ]:
###Create a pandas Series object from a dictionary with keys "Martin" and "George" and values 8 and 5, respectively. Call this Series workers_work_exp, as from "workers work experience".

In [ ]:
workers_work_exp = pd.Series({'Martin':8, 'George':5})
workers_work_exp

In [ ]:
workers_work_exp.index

In [ ]:
###Create a pandas Series object from an array that contains the following values: 44, 54, 65, 35. Call it series_age.

In [ ]:
series_age = pd.Series(np.array([44, 54, 65, 35]))
series_age

In [ ]:
series_age.index

## Using Methods in Python

In [ ]:
employees_work_experience = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})

In [ ]:
employees_work_experience.head()

In [ ]:
employees_work_experience.tail()

## Parameters vs Arguments

In [ ]:
employees_work_experience = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})

In [ ]:
employees_work_experience.head(3)

In [ ]:
employees_work_experience.tail(4)

## Introduction to pandas DataFrames

In [ ]:
data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], 
    "Age":[50, 53, 35, 43], 
    "Working Experience (Yrs.)":[5,8,3,10]}
df = pd.DataFrame(data)
df

In [ ]:
data = [{'Name':'Amy White', 'Age':50, 'Working Experience (Yrs.)':5}, 
        {'Name':'Jack Stewart', 'Age':53, 'Working Experience (Yrs.)':8}, 
        {'Name':'Richard Lauderdale', 'Age':35, 'Working Experience (Yrs.)':3},
        {'Name':'Sara Johnson', 'Age':43, 'Working Experience (Yrs.)':10}]
df = pd.DataFrame(data)
df

In [ ]:
names = pd.Series(['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'])
age = pd.Series([50, 53, 35, 43])
working_experience_yrs = pd.Series([5,8,3,10])

data = {'Name':names, 'Age':age, 'Working Experience (Yrs.)':work_experience_years}
df = pd.DataFrame(data)
df

In [ ]:
data = [['Amy White', 50, 5], ['Jack Stewart', 53, 35], ['Richard Lauderdale', 35, 3], ['Sara Johnson', 43, 10]]
df = pd.DataFrame(data, columns = ['Name', 'Age', 'Working Experience (Yrs.)'])
df

In [ ]:
### Modify the code below to add integers starting from 1 in ascending order as index values.

In [ ]:
data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], 
    "Age":[50, 53, 35, 43], 
    "Working Experience (Yrs.)":[5,8,3,10]}
df = pd.DataFrame(data)
df

In [ ]:
data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], 
    "Age":[50, 53, 35, 43], 
    "Working Experience (Yrs.)":[5,8,3,10]}
df = pd.DataFrame(data, index = [1, 2, 3, 4])
df